<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="public/css/register.css">
</head>

<body>
  <div class="logindiv">
    <h1>Noobframework</h1>
    <h3>Register</h3>
    <div class="inputdiv">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="What's your full name?">
    </div>

    <div class="inputdiv">
      <i class="fas fa-envelope"></i>
      <input type="text" placeholder="E-mail">
    </div>

    <div class="inputdiv">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password">
    </div>


    <div class="inputdiv">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Confirm password">
    </div>

    <input type="button" class="btn" value="Sign in">
  </div>
</body>

</html>